@model WebAppCinemaBooking.Areas.Admin.Models.Seat_Level

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa Loại Ghế</h1>

<h3>Bạn có chắc muốn xóa loại ghế này?</h3>
<div>
    <h4>Loại Ghế</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên Loại Ghế:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Ảnh ghế chưa chọn:
        </dt>
        <dd class="col-sm-10">
            <img src="~/Uploads/Seat_Level/@Html.DisplayFor(model => model.Image)" style="max-width:100px;" />
        </dd>
        <dt class="col-sm-2">
            Ảnh ghế đang được chọn:
        </dt>
        <dd class="col-sm-10">
            <img src="~/Uploads/Seat_Level/@Html.DisplayFor(model => model.Image_Selected)" style="max-width:100px;" />
        </dd>
        <dt class="col-sm-2">
            Ảnh ghế đã đặt:
        </dt>
        <dd class="col-sm-10">
            <img src="~/Uploads/Seat_Level/@Html.DisplayFor(model => model.Image_Checked)" style="max-width:100px;" />
        </dd>
        <dt class="col-sm-2">
            Số chổ:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Count_Cell)
        </dd>
        <dt class="col-sm-2">
            Giá:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            Trạng Thái:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />

        <input type="submit" value="Xóa" class="btn" style="width: 300px;;margin-bottom: 10px;background-color: #26c6da;" />
        <br />
        <a asp-action="Index" class="btn" style="width: 300px;;margin-bottom: 10px;background-color: #1ea6c1;">Trở Về</a>

    </form>
</div>
